body{
  background-color: rgb(189, 255, 189);
}
h1{
  text-align: center;
  color: darkgreen;
  font-family: Times ;
}
h2{
  color: black;
}
table{
  width: 30%;
  border-collapse: collapse;
}
th, td{
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}
th{
  background-color: darkgreen;
  color: white;
}