body{
  background-color: lightcyan;
}
h1{
  color: darkcyan;
}
h2{
  color: seagreen;
}
h3{
  color: DarkSlateGray;
}
table{
  width: 50%;
  border-collapse: collapse;
}
th, td{
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}
th{
  background-color: darkcyan;
  color: black;
}