body{
  background-color: Lavender;
}
#titulo{
  color: Indigo;
  font-size: 35px;
  font-family: 'Times New Roman';
}
h2{
  color: MediumPurple;
}
table{
  width: 30%;
  border-collapse: collapse;
}
th, td{
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}
th{
  background-color: purple;
  color: white;
}