body{
  background-color: Lavender;
}
h1{
  text-align: center;
  color: Indigo;
  font-family: Helvetica ;
}
h2{
  color: MediumPurple;
}
table{
  width: 30%;
  border-collapse: collapse;
}
th, td{
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}
th{
  background-color: purple;
  color: white;
}