body{
  background-color: lightgray;
}
header{
  background-color: gray;

}
h1{
  
  font-size: 35px;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;

.principal{
  text-align: left;
  color: rgb(28, 44, 44);
  font-size: 25px;
  font-family: 'Times New Roman';
}

}
h2 {
  color: darkred;
}
b {
  color: darkblue;
}
a{
  font-size:16px;
}
#titulo{
  font-size:30px;
}
body, html {
  height: 100%;
  margin: 0;
}
p{
  font-family:Helvetica;
  font-size: 17px;
}