body{
  background-color: lightgray;
}
h1{
  background-color: darkgray;
  font-size: 35px;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
nav{
  display: block;
  margin: 10px;
  background-color: #333;
  text-decoration-line: none;

}

h2 {
  color: darkred;
}
b {
  color: darkblue;
}
a{
  font-size:16px;
}
#titulo{
  font-size:30px;
}
body, html {
  height: 100%;
  margin: 0;
}
p{
  font-family:Helvetica;
  font-size: 17px;
}