body{
  background-color: lightgray;
}
#inicio{
  background-color: gray;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
h2 {
  color: darkred;
}
b {
  color: darkblue;
}
a{
  font-size:16px;
}
#titulo{
  font-size:30px;
}
body, html {
  height: 100%;
  margin: 0;
}
p{
  font-family:Helvetica;
  font-size: 17px;
}